.about-wrapper {
    color: white;
    background-color: #333 !important;
    padding: 7rem 0;
}
.about-title {
    position: relative;
    padding: 2rem;
}
.about-heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #cccccc;
    font-size: 3rem;
    width:max-content
}
.hori-line {
    border-bottom: 4px solid #feb633;
    width: 50%;
    margin-top: 1rem;
}
.about-info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    padding: 0 5rem;
}
.about-img{
height:17rem;
}
.about-info h4 {
    line-height: 30px;
    letter-spacing: 0.2px;
    font-weight: 300;
    font-family: "Rubik", sans-serif;
    color: #9f9f9f;
}

@media only screen and (max-width:767px){
    .about-heading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #cccccc;
        font-size: 3rem;
    }
}