@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@300;900&family=Balsamiq+Sans&family=Bree+Serif&family=Crete+Round&family=Playfair+Display&family=Roboto:wght@300&family=Rubik&family=Varela&family=Varela+Round&family=Work+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@300;900&family=Balsamiq+Sans&family=Bree+Serif&family=Crete+Round&family=Playfair+Display&family=Roboto:wght@300&family=Rubik:wght@300;400&family=Varela&family=Varela+Round&family=Work+Sans:wght@300&display=swap");

.home-wrapper{
    background-color: #2b2c2c !important;

}
.container-fluid{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-title {
    font-family: "Bree Serif", serif;
    color:#feb633;;
    font-size: 3.7rem;
    font-weight: 700;
    letter-spacing: 1.5px;
}
.home-cont{
    padding: 0 2rem;
}
.intro {
    font-family: "Rubik", sans-serif;
    color:#cccccc
}
.home-content{
    text-align: start;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 4rem 1rem !important;
}
.hire-me{
    border:3px solid #feb633;
    background-color:#feb633;;
    padding:12px 60px;
    color:white;
    font-size: 22px;
    margin-top: 2rem;
    border-radius: 5px;
}
.hire-me:hover{
    background-color: transparent;
    border:3px solid #feb633;
    color:white;
    transition: .6s ease-in-out;
}
.home-banner-img{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.home-img{
    border-radius: 50%;
    height:20rem
}
@media only screen and (max-width:767px){
    .home-content{
        text-align:center;
    }
    .main-title{
        font-size: 3.5rem;

    }
    .hire-me{
        padding:7px 40px;
    }

}