@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@300;900&family=Balsamiq+Sans&family=Bree+Serif&family=Crete+Round&family=Playfair+Display&family=Roboto:wght@300&family=Rubik:wght@300;400&family=Varela&family=Varela+Round&family=Work+Sans:wght@300&display=swap");
.skills-wrapper{
    background-color: #333;
    color:white;
    padding-bottom: 7rem;

}
.skills-header-container{
    padding:5rem;
    color: #cccccc;
    text-align: center;

}
.skills-header{
    font-size: 3rem;
    width:max-content;
    margin: auto;

}
.hori-line-skills{
    border:2px solid #feb633;
    margin: .7rem auto;
    width:60%
}
.skill-stack{
    margin:3rem auto;
    width:100%
}
.skill-icon{
height:5rem
}
.stack-conatiner{
    display: flex;
    flex-wrap: wrap;
    width:fit-content;
    margin:auto;
    justify-content: center;

}
.p-1{
    margin:20px 30px
}
.skill-icon:hover{
    opacity: .8;
}