.work-wrapper {
    background-color: #2b2c2c;
}
.work-header {
    color: #cccccc;
    padding: 6rem 2rem;
    width: fit-content;
    margin: auto;
}
.work-header h1 {
    font-size: 3rem;
    margin: auto;
}
.hori-line-work {
    border: 2px solid #feb633;
    margin: 0.7rem auto;
    width: 60%;
}
.work-container {
    height:100%;
    color:whitesmoke;
    padding: 5rem 2rem 15rem 2rem;

}
.p-0{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}
.p-0 img{
    height:15rem;
    width:100%;
    margin:0;
    border-radius: 10px;
}
.work-cards{
    width:1250px
}
@media only screen and (max-width:992px) {
    .p-0 img{
        height:20rem
    }
}
@media only screen and (max-width:767px) {
    .p-0 img{
        height:15rem
    }
}