.work-wrapper {
    height: 100vh;
    background-color: #2b2c2c;

}
.work-header {
    color: #cccccc;
    padding: 6rem 2rem;
    width: fit-content;
    margin: auto;
}
.work-header h1 {
    font-size: 3rem;
    margin: auto;
}
.hori-line-work {
    border: 2px solid #feb633;
    margin: 0.7rem auto;
    width: 60%;
}
